.venv/
.env
*.pyc
*.csv
*.txt
*.pdf
.ipynb_checkpoints/
codeagent.log
dias-datasets/
*.pickle
*.tsv
*.parquet
*.feather
*.pkl
test-gpu-cost.ipynb
*.sqlite
*.nsys-rep
.nsys-repkaggle-notebook/
cufile.log
*.png
*.jpg
*.jpeg
*.gif
# unignore transfer_costs.csv
!transfer_costs.csv
!prediction_times.csv
!transfer_times.pkl
!input_df_cols.pkl
!output_df_cols.pkl
!schedule_results.csv
!csv_out/

notebook_outputs/

tpch/data/

!notebooks/spscientist/student-performance-in-exams/input/StudentsPerformance.csv
!requirements.txt
!pip-requirements.txt
.DS_Store
*.zip

!stats/